.debug [class*="col-"]{
  background-color: #fec0cb;
  border: 1px solid black;
}

.debug{
  line-height: 200px;
  text-align: center;
}

.container:only-child {
  margin: 10px;
}

.container:only-child > [class*="col-"]{
  border: 1px solid white;
  background-color: #f08080;
}

