.debug [class*="col-"]{
  height: 100%;
}

.debug{
  height: 100px;
}

.red{
  background-color: red;
}

.orange{
  background-color: orangered;
}

.l_orange{
  background-color: orange;
}

.yellow{
  background-color: #ffcc23;
}

.l_yellow{
  background-color: #fef423;
}

.black{
  background-color: black;
}

.brown{
  background-color: #611f00;
}

.l_brown{
  background-color: #aa4d00;
}

.purple{
  background-color: #8620d9;
}

.green{
  background-color: #0cb800;
}

.l_green{
  background-color: #82e101;
}

.celeste{
  background-color: #3b6afe;
}

.l_celeste{
  background-color: #63bcff;
}

.pink{
  background-color: #feb485;
}

.l_pink{
  background-color: #ffe29c;
}


/* colori minecraft */

.color00af01{
  background-color: #00af01;
}

.color006e00{
  background-color: #006e00;
}

.color009202{
  background-color: #009202;
}

.color8a8a8a{
  background-color: #8a8a8a;
}

.colorbbbbbb{
  background-color: #bbbbbb;
}

.color69ff6a{
  background-color: #69ff6a;
}

.color3b903b{
  background-color: #3b903b;
}

.color007200{
  background-color: #007200;
}

.color4fc14f{
  background-color: #4fc14f;
}

.color317431{
  background-color: #317431;
}

.color242424{
  background-color: #242424;
}

.color000000{
  background-color: black;
}

.color1f4d1f{
  background-color: #1f4d1f;
}